<h1>Hourly Forecasts</h1>
<ul>
  {{#each model as |forecast|}}
    <li class='forecast'>
        <span class='forecast-item'>{{forecast.city}}</span>
        <span class='forecast-item'>{{moment-format forecast.startingAt 'MM/DD h A'}}</span>
        <span class='forecast-item'>{{forecast.temperature}} {{forecast.status}}</span>
    </li>
  {{/each}}
</ul>
{{outlet}}