<div data-role="header-area">
  <h1 data-role="page-header">Hourly Forecasts</h1>
</div>
<ul data-role="forecasts">
  {{#each sortedForecasts as |forecast|}}
    <li class="forecast">
      <span class="forecast-item">{{forecast.city}}</span>
      <span class="forecast-item">{{moment-format forecast.startingAt "MM/DD h A"}}</span>
      <span class="forecast-item">{{forecast.temperature}} {{forecast.description}}</span>
    </li>
  {{/each}}
</ul>
{{outlet}}